@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 253 44% 98%;
    --foreground: 253 58% 0%;
    --muted: 253 7% 87%;
    --muted-foreground: 253 13% 37%;
    --popover: 253 44% 98%;
    --popover-foreground: 253 58% 0%;
    --card: 253 44% 97%;
    --card-foreground: 0 0% 0%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 253 91% 58%;
    --primary-foreground: 253 91% 98%;
    --secondary: 253 5% 89%;
    --secondary-foreground: 253 5% 29%;
    --accent: 253 12% 82%;
    --accent-foreground: 253 12% 22%;
    --destructive: 339.2 90.36% 51.18%;
    --destructive-foreground: 0 0% 100%;
    --ring: 253 91% 58%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 253 43% 3%;
    --foreground: 253 31% 98%;
    --muted: 253 7% 13%;
    --muted-foreground: 253 13% 63%;
    --popover: 253 43% 3%;
    --popover-foreground: 253 31% 98%;
    --card: 253 43% 4%;
    --card-foreground: 253 31% 99%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 253 91% 58%;
    --primary-foreground: 253 91% 98%;
    --secondary: 253 7% 9%;
    --secondary-foreground: 253 7% 69%;
    --accent: 253 13% 14%;
    --accent-foreground: 253 13% 74%;
    --destructive: 339.2 90.36% 51.18%;
    --destructive-foreground: 0 0% 100%;
    --ring: 253 91% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::-webkit-scrollbar{
    @apply w-0 h-0;
  }
  ::-webkit-scrollbar-track{
    @apply bg-transparent;
  }
}